//footer
footer{background-color:#1a1919; border-top:1px solid $main-gray;
	.inner{width:980px; margin:0 auto; padding:1% 0;
		
		p{margin:0; color:$main-gray; font-size: .8em;}
		a{text-decoration:none;color:$main-gray; font-size: .8em;}
	}
}