//helper classes
.left{float:left;}
.right{float:right;}
.center{text-align: center;}
.justify{text-align: justify;}
//buttons
.close, .close-busq{padding:0 0% 0 0; cursor:pointer;}
.vista{color:$main-blue; cursor:pointer; letter-spacing:2px;}
.vista-gray{cursor:pointer; letter-spacing:2px;}

// main styles
.section-pages-cont{background-color:$pages-bg;}

.main{position:relative; background-image:url(../images/main-bg.jpg); background-repeat:no-repeat; background-size: cover; z-index:0; width:100%;
	.main-img{position:absolute;top:0; z-index: 1; width:100%; height:100%;		
		img{display: block; width:100%; height:100%;}
	}
	
}